body {
    font-family: Arial, sans-serif;
    margin-top: 70px;
  }
  
  .navbar {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(9, 9, 9, 0.821);
    width: 97%;
    margin: 0 auto;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
  }
  
  .nickname {
    color: #433;
    font-weight: bold;
    font-size: 18px;
  }
  
  a.no-underline {
    text-decoration: none;
  }
  
  .dropdown-menu {
    min-width: 220px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e6ea;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    font-size: 16px;
    color: #343a40;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
  }
  
  .dropdown-item:active {
    background-color: #e2e6ea;
    color: #0056b3;
  }
  
  .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .auth-link {
    font-weight: bold;
    text-decoration: none;
    color: #cd1985;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .auth-link:hover {
    background-color: rgba(205, 25, 133, 0.1);
    color: #cd1985;
  }
  
  .clickable {
    cursor: pointer;
  }
  